* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 4rem;
  min-height: 600px;
  width: 100%;
  max-width: 1200px;
}

.home-content-container {
  display: flex;
  padding-top: 80px;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.home-content-container button {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  line-height: 1.1;
}

.content-info {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home-content-container h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 144px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.home-content-container h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
  color: #d0d6f9;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 33.6%;
}

.home-intro-container {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.8;
  letter-spacing: 0px;
  text-align: justify;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 5;
  padding: 16px 24px;
}

.nav-container {
  display: flex;
  gap: 4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.individual-nav-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.individual-nav-container p,
.individual-nav-container a {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.individual-nav-container p {
  font-weight: 800;
}

.individual-nav-container a {
  font-weight: 400;
}

.margin {
  margin-right: 100px;
}

.main-planet-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
  max-width: 1400px;
  gap: 3rem;
}

.destination-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.destination-container p {
  font-family: "Barlow Condensed", sans-serif;
  opacity: 25%;
  font-size: 28px;
  letter-spacing: 4.72px;
  color: #ffffff;
}

.destination-container h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}

.planet-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #ffffff;
}

.planet-facts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 450px;
}

.planet-button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.planet-button-container button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #d0d6f9;
  cursor: pointer;
}

.planet-name {
  font-family: "Bellefair", serif;
  font-size: 100px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.description-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: 300;
}

.distance-container {
  display: flex;
  gap: 2rem;
}

.distance-container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.distance-header {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #d0d6f9;
}

.distance-numbers {
  font-family: "Bellefair", serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0px;
}
